@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
:root
{
  --bleuvert : #ba4d5d;
  --bleu : #0070A9;
  --lavande : #8D8D8D; /*#E6E6FA;*/
  --jaune : #FFFFFF;
  --shadow : rgba(0,0,0,48) 10px 10px 20px;
  --montserrat : 'Montserrat';
}
.montserrat{
    font-family: var(--montserrat);
    font-weight: bold ;
}
.span_hover:hover{
    border-bottom: 3px solid white;
    padding-bottom: 5px;
}
.content {
    position: relative;
  }
.red_button_smartphone{
    margin: auto;
    width: 400px;
    margin-bottom: 10px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
}
@media only screen and (max-width: 501px) {
    .red_button_smartphone{
        width: 200px;;
    }       
} 
#collapseExample {
position: absolute;
z-index: 1;
}

footer
{
  background-color: var(--bleuvert);

  margin: auto;
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0px;
}

footer a
{
  color: var(--jaune);
  /* font-size: 1vw; */
  text-transform: uppercase;
  justify-content: center;
  margin: auto 20px auto 20px;
  text-shadow: var(--shadow);
}
footer a:hover
{
  color: var(--jaune);
  text-decoration: none;
}


.shadow_title{
    text-shadow: var(--shadow);
}

.flex{
    display: flex;
}
.bg_nav_bar{
    background-color: var(--bleuvert);   
}

.bg_fixed{
    overflow: hidden;
    position: fixed !important;
    top: 0;
    width: 100%;
}
.logo_position{
    /* left: 0;
    top: 0;
    position: absolute; */
    margin-left: 10px;
}
.button_hamburger{
    right: 10px;
    top: 10px;
    position: absolute;
}
.yellow_title{
    color: var(--jaune) !important;
    font-weight: bold;
}
.banner{
    width: 100%;
    margin-top: -20px;
}
.home_article{
    font-size: 30px;
    color: var(--bleuvert);
    margin-top: 1vw;
    margin-left: 1vw;
    
}
@media only screen and (max-width: 1024px) {
    .home_article{
        font-size: 26px;
    } 
}

@media only screen and (max-width: 600px) {
    .home_article{
        font-size: 15px;
    } 
}
@media only screen and (max-width: 600px) {
    .home_description{
        font-size: 10px;
    } 
}
.button_home_article{
    /* width: 2vw!important; */
    color: var(--bleuvert);
    margin-top: 1.4vw;
    margin-left: 1vw;
}
@media only screen and (max-width: 1024px) {
    .button_home_article{
        margin-top: 3vw;
    } 
}
@media only screen and (max-width: 800px) {
    .button_home_article{
        margin-top: 2.5vw;
    } 
}
@media only screen and (max-width: 600px) {
    .button_home_article{
        margin-top: 3vw;
    } 
}
@media only screen and (max-width: 480px) {
    .button_home_article{
        margin-top: 2.0vw;

    } 
}
.flex_row{
    flex-direction: row;
}

.accordion.accordion-3 {
border-radius: 3px; }
.accordion.accordion-3 p {
font-size: 1rem; }
.accordion.accordion-3 .fa.fa-angle-down {
margin-top: -10px; }

.accordion .animated-icon1 span {
background: #F44336;
}

.embedresize {
    max-width: 560px;
    margin: auto;
    }
    
    .embedresize div {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    }
    
    .embedresize iframe {
    top: 0;
    left: 0;
    }

.scroll_div{
    overflow-y: auto;
    max-height: 400px;
    width: 50%;
}
.connaitre_pdf{
    justify-content: space-between;
}
.space_padding{
    padding-left: 100px;
    padding-right: 100px;
}
@media only screen and (max-width: 1000px) {
    .space_padding{
        padding-left: 10px;
        padding-right: 10px;

    } 
}
.button_connaitre{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--bleuvert) !important;
    border-color: var(--bleuvert) !important;
}

.btn-outline-primary:hover{
    background-color: var(--bleuvert) !important;
    color: var(--jaune) !important;
}

.accordion-button:not(.collapsed){
    color: var(--bleuvert);
}
.contact_form{
    margin-left: 20px;
    margin-right: 20px;
}
.contact_send{
    margin: auto;
    width: 400px;
    margin-bottom: 10px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
}
.participer_texte{
    margin-top: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 7px;
    text-align: center;
    padding: 10px;
}
@media only screen and (max-width: 800px) {
    .contact_send_page{
        width: 60%;
        margin: auto;
        margin-bottom: 10px;
        display: flex !important;
        flex-direction: row;
        justify-content: space-evenly;
    }       
} 
.not_dispo{
    color: grey !important;
    margin-left: 30px;
}
.legals_mentions_margin{
    margin-left: 1vw;
}
.link_suivre{
    width: 100%;
    height: 500px;
    /* margin: 100px; */
    box-shadow: rgb(0 0 0 / 26%) 0px 20px 20px 0px;
    overflow: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.flex_suivre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 1000px) {
    .flex_suivre{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    } 
}
.home_column{
    display: flex;
    flex-direction: column;
}

.yt_video{
    width: 61vw;
    height: 34.5vw;
    /* width: 960px;
    height: 540px; */
}
@media only screen and (max-width: 1000px) {
    .yt_video{
    width: 75vw;
    height: 42.5vw;
    }
}
@media only screen and (max-width: 500px) {
    .yt_video{
    width: 89vw;
    height: 54.5vw;
    }
}
.link_hidden{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
.link_hidden:visited{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.newsletter {
    padding: 80px 0;
    background: #19beda;
    }
    
    .newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px; }
    .newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
    }
    .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
    }
    .newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #243c4f;
    color: #fff;
    font-weight:600;
    }

.size_title{
    font-size: xx-large;
}
.size_article{
    font-size: large !important;
}
.participer_flex{
    text-align: center;
    margin: 15px auto;
}
.div_participer{
    display: inline-block;
    text-align: left;
    /* width: 40%; */
    width: 500px;
    height: 300px;
    /* margin: 100px; */
    box-shadow: rgb(0 0 0 / 26%) 0px 20px 20px 0px;
    overflow: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 1%;
}
@media only screen and (max-width: 500px) {
    .div_participer{
        width: 353px;
        height: 361px;
    } 
}
@media only screen and (max-width: 500px) {
    .button_send_participer{
        width: 80%;
    } 
}

.div_signup{
    height: 400px !important;
}
.participer_title{
    text-align: center;
}
.button_display{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    .button_display{
        flex-direction: column;
    } 
}
.form_signup{
    margin-bottom: 10px !important;
}
.center_text{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Merriweather Sans", -apple-system, "Segoe UI Symbol";
    margin-top: 0.2em;
    font-size: 2em;
    text-align: center;

}

.my_account{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}
.my_account_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

/* a:focus, a:hover {
    color: #014c8c;
    text-decoration: underline;
} */

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(186 77 94 / 25%) !important;
}
.accordion-button:not(.collapsed) {
    color: rgb(186,77,94) !important;

}