{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    #span_suivre{
      border-bottom: 3px solid white;
      padding-bottom: 5px;
    }
  </style>
<img style="margin-top: 78px" class="banner" src="{% static 'assets/banner_crop.jpg' %}">
{% if messages %}
    {% for message in messages %}
    <p style="text-align: center; color: blue; font-size: 30px;" {% if message.tags %} class=" {{ message.tags }} home_article" {% endif %}> {{ message }} </p>
    {% endfor %}
{% endif %}

<div style="flex-direction: column; margin-top: 10px;" class="flex">
    <form action="{% url 'join_newsletter' %}" method="GET" id="sub_to_newsletter">
    <!-- <p style="text-align: center;" class="home_article size_article">S'inscrire à la newsletter</p> -->
        <div style="margin-left: auto;
        margin-right: auto; margin-top: 20px;"class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Mon adresse électronique" name="email">
        </div>
        <div style="margin-top: 20px;"class="text-center"> 
            <button type="submit" class="btn btn-outline-primary red_button_smartphone button_connaitre"data-bs-toggle="modal" data-bs-target="#exampleModal">Je m’inscris à la lettre d’information</button>
        </div>
</form>
</div>
<div class="flex_suivre">
    <div class="link_suivre">
        <p style="text-align: center;" class="home_article size_title">Actualité</p>
        {% for suivre in actu_suivre %}
        <div>
            <p style="font-size: 1vw;" class="home_article size_article">{{suivre.date}} > {{suivre.title}}</p>
            <p style="margin-left: 50px;"><a href="{{suivre.link}}" target="_blank">{{suivre.link}}</a></p>
        </div>
       {% endfor %}
    </div>
<div class="link_suivre">
    <p style="text-align: center;" class="home_article size_title">Agenda</p>
    {% for agenda in agenda_suivre %}
    <div>
        <p style="font-size: 1vw;" class="home_article size_article">{{agenda.date}} > {{agenda.title}}</p>
        <!-- <p style="margin-left: 1vw;">• Le {{agenda.date}} •</p> -->
        <!-- <p style="margin-left: 1vw;">• Le {{agenda.date}} à partir de {{agenda.heure}} •</p> -->
        <p style="margin-left: 50px;">{{agenda.lieu}} </p>
        <!-- <p style="margin-left: 1vw;">• {{agenda.ville}} •</p> -->
    </div>
    {% endfor %}
</div>
<div class="link_suivre">
    <p style="text-align: center;" class="home_article size_title">Twitter</p>
    <div style="margin-top: 10px; margin-left: 100px; margin-right: 100px;">
        <a class="twitter-timeline" data-lang="fr" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/StephWendlinger?ref_src=twsrc%5Etfw">StephWendlinger</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
    

</div>

{% endblock %}