{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="flex_suivre">
    <div class="link_suivre">
        <p style="text-align: center;" class="home_article">Dernieres Actualités</p>
        <div>
            <p style="font-size: 1vw;" class="home_article">Réformes : Macron va-t-il se dégonfler ?</p>
            <p style="margin-left: 1vw;">https://www.twilio.com/blog/build-email-newsletter-django-twilio-sendgrid</p>
        </div>
        <div>
            <p style="font-size: 1vw;" class="home_article">Compte personnel de formation : un délai accordé pour transférer ses droits</p>
            <p style="margin-left: 1vw;">https://www.twilio.com/blog/build-email-newsletter-django-twilio-sendgrid</p>
        </div>
        <div>
            <p style="font-size: 1vw;" class="home_article">Face à l’abstention, l’exception corse</p>
            <p style="margin-left: 1vw;">https://www.twilio.com/blog/build-email-newsletter-django-twilio-sendgrid</p>
        </div>
        <div>
            <p style="font-size: 1vw;" class="home_article">Renault accélère encore dans l’électrique</p>
            <p style="margin-left: 1vw;">https://www.twilio.com/blog/build-email-newsletter-django-twilio-sendgrid</p>
        </div>
    </div>
    <div class="link_suivre">
        <p style="text-align: center;" class="home_article">Agendas</p>
        <div>
            <p style="font-size: 1vw;" class="home_article">Réformes : Macron va-t-il se dégonfler ?</p>
            <p style="margin-left: 1vw;">https://www.twilio.com/blog/build-email-newsletter-django-twilio-sendgrid</p>
        </div>
        <div>
            <p style="font-size: 1vw;" class="home_article">Compte personnel de formation : un délai accordé pour transférer ses droits</p>
            <p style="margin-left: 1vw;">https://www.twilio.com/blog/build-email-newsletter-django-twilio-sendgrid</p>
        </div>
        <div>
            <p style="font-size: 1vw;" class="home_article">Face à l’abstention, l’exception corse</p>
            <p style="margin-left: 1vw;">https://www.twilio.com/blog/build-email-newsletter-django-twilio-sendgrid</p>
        </div>
        <div>
            <p style="font-size: 1vw;" class="home_article">Renault accélère encore dans l’électrique</p>
            <p style="margin-left: 1vw;">https://www.twilio.com/blog/build-email-newsletter-django-twilio-sendgrid</p>
        </div>
    </div>
    <div style="margin: 100px;">
        <a class="twitter-timeline" data-lang="fr" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/StephWendlinger?ref_src=twsrc%5Etfw">Tweets by StephWendlinger</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    

</div>
{% endblock %}