{% extends "base.html" %}
{% load static %}
{% block content %}

<div style="flex-direction: column;" class="flex">
    <form action="{% url 'join_newsletter' %}" method="GET">
    <!-- <p style="text-align: center;" class="home_article size_article">S'inscrire à la newsletter</p> -->
        <div style="margin-left: auto;
        margin-right: auto; margin-top: 20px;"class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Quel est votre adresse mail ?" name="email">
        </div>
        <div style="margin-top: 20px;"class="text-center"> 
            <button type="submit" class="btn btn-outline-primary button_connaitre contact_send ">S'inscrire à la newsletter</button>
        </div>
</form>
</div>
<div class="flex_suivre">
    <div class="link_suivre">
        <p style="text-align: center;" class="home_article size_title">Dernieres Actualités</p>
        {% for suivre in actu_suivre %}
        <div>
            <p style="font-size: 1vw;" class="home_article size_article">{{suivre.title}}</p>
            <p style="margin-left: 1vw;">{{suivre.link}}</p>
        </div>
       {% endfor %}
    </div>
<div class="link_suivre">
    <p style="text-align: center;" class="home_article size_title">Agendas</p>
    {% for agenda in agenda_suivre %}
    <div>
        <p style="font-size: 1vw;" class="home_article size_article">{{agenda.title}}</p>
        <p style="margin-left: 1vw;">• Le {{agenda.date}} à partir de {{agenda.heure}} •</p>
        <p style="margin-left: 1vw;">• {{agenda.lieu}} •</p>
        <p style="margin-left: 1vw;">• {{agenda.ville}} •</p>
    </div>
    {% endfor %}
</div>
<div style="margin: 100px;">
    <a class="twitter-timeline" data-lang="fr" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/StephWendlinger?ref_src=twsrc%5Etfw">StephWendlinger</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
    

</div>
{% endblock %}