{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Custom styles-->
<title>Création de Compte</title>
<style>
	footer{
		position: fixed;
	}
    body{
        background-color: #1757b5c4 !important;
    }
</style>

<div style="margin-top: 78px;" class="container mt-5 ">
    <div class="row d-flex justify-content-center ">
        <div class="col-md-6">
            {% if user.is_authenticated %}
			<h1 style="color: blue;">Vous Êtes désormais connecté !</h1>
			{% else %}
            <div style="margin-left: auto;
            margin-right: auto;" class="card p-4 py-5 div_participer div_signup">
                <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <h2>Connexion</h2>
                <div class="signup mt-3"> <input type="email" name="email" class="form-control form_signup" placeholder="Email"> 
                    <input type="password" name="password" class="form-control form_signup" placeholder="Mot de passe"> </div>
                    <div class="d-flex flex-row"> <a href="#" class="signin-link">J’ai oublié mon mot de passe</a> </div>
                <div class="mt-4"> <button type="submit" class="btn btn-danger button btn-block">Se connecter</button> </div>
            </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}