{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  #span_participer{
    border-bottom: 3px solid white;
    padding-bottom: 5px;
  }
</style>
<img style="margin-top: 0px" class="banner" src="{% static 'assets/banner_crop.jpg' %}">
<p class="participer_texte"> Pour participer à la campagne et soutenir la candidature de Stéphane Wendlinger, merci de créer un compte.
</p>
{% if user.is_authenticated %}
<form action="{% url 'logout' %}" method="POST">
  {% csrf_token %}
<button style="margin-top: 10px;" type="submit" value="logout" class="btn btn-outline-primary red_button_smartphone button_connaitre  " id="logout">Déconnexion</button>
</form>
<!-- <li class="nav-item">
    <a class="nav-link yellow_title shadow_title montserrat" href="">BONJOUR, {{user}}</a>
</li> -->
{% else %}
<div class="button_display">
    <a class="link_hidden" href="login"><button type="button" class="btn btn-outline-primary button_connaitre contact_send_page contact_send">Je me connecte</button></a>
    <a class="link_hidden" href="signup"><button type="button" class="btn btn-outline-primary button_connaitre contact_send_page contact_send">Je crée un compte</button></a>
    </div>
{% endif %}
<div class="participer_flex">
    <div class="div_participer">
        <p class="home_article size_title participer_title">Adhérer au comité de soutien</p>
        <p style="text-align: center;width: 80%;
        margin-left: auto;
        margin-right: auto;">Le comité de soutien est le relais privé de la candidature.
          Les membres du comité de soutien font part à leur entourage de l’existence de cette 
          candidature. Ils reçoivent et diffusent des informations au cours de la campagne.</p>
        <button style="margin-top: 10px;" type="submit" class="btn btn-outline-primary button_connaitre button_send_participer contact_send ">J’adhère au comité de soutien </button>
    </div>
    <div class="div_participer">
        <p class="home_article size_title participer_title">Rejoindre l'équipe de campagne</p>
        <p style="text-align: center;width: 80%;
        margin-left: auto;
        margin-right: auto;">L’équipe de campagne est le relais public de la candidature.
          Les membres de l’équipe de campagne agissent sur le terrain pour faire connaître la 
          candidature. Ils reçoivent du matériel de campagne à diffuser.</p>
        <button style="margin-top: 10px;" type="submit" class="btn btn-outline-primary button_connaitre button_send_participer contact_send ">Je rejoins l’équipe de campagne</button>
    </div>
    <div class="div_participer">
        <p class="home_article size_title participer_title">Faire un don</p>
        <p style="text-align: center;width: 80%;
        margin-left: auto;
        margin-right: auto;">La réalisation d’un don marque un soutien individuel 
          essentiel à la candidature.
          Il donne droit à une réduction d’impôt de 66% de son montant.</p>
      <!-- <div style="flex-direction: row;
      justify-content: space-around;" class="flex">
        <div style="font-weight: 700;" class="form-check">
            Actuel : <br>
            Association SW2022<br>
            1 montée du Château<br>
            07100 Annonay
          </div>
        <div>
          A venir :<br>
          Virement Paypal<br>
          Don par carte banquaire<br>
          Virement SEPA<br> 
        </div>
      </div> -->
        <!-- <button style="margin-top: 10px;" type="submit" class="btn btn-outline-primary button_connaitre contact_send ">Envoyer</button> -->
        <button style="margin-top: 10px;" type="submit" class="btn btn-outline-primary button_connaitre button_send_participer contact_send ">Je fais un don</button>
    
      </div>
    <div class="div_participer">
        <p class="home_article size_title participer_title">Parrainer le candidat</p>
        <p style="text-align: center;width: 80%;
        margin-left: auto;
        margin-right: auto;">Les élus, notamment les maires, peuvent parrainer le candidat qui doit recueillir 500 signatures pour devenir candidat officiel.</p>
        <button style="margin-top: 10px;" type="submit" class="btn btn-outline-primary button_connaitre button_send_participer contact_send ">Je souhaite parrainer Stéphane Wendlinger </button>
    </div>
</div>

{% endblock %}
