{% extends "base.html" %}
{% load static %}
{% block content %}

<p> Pour participer à la campagne et soutenir la candidature de Stéphane Wendligner, inscriveez vous. Les données recueillies ne seront utilisées par les personnes dûment autorisées que le temps
    de la campagne ; elles seront ensuite détruites. En aucun cas , elle ne seront vendues ou échangées. <a href=""> En savoir plus</a>
</p>

<div class="participer_flex">
    <div class="div_participer">
        <p class="home_article size_title participer_title">Adhérer au comité de soutien</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor libero ante, sed porttitor lectus ornare non.</p>
    </div>
    <div class="div_participer">
        <p class="home_article size_title participer_title">Rejoindre l'équipe de campagne</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor libero ante, sed porttitor lectus ornare non.</p>
    </div>
    <div class="div_participer">
        <p class="home_article size_title participer_title">Faire un don</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor libero ante, sed porttitor lectus ornare non.</p>
    </div>
    <div class="div_participer">
        <p class="home_article size_title participer_title">Parrainer le candidat</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor libero ante, sed porttitor lectus ornare non.</p>
    </div>
</div>
<div class="button_display">
<button type="button" class="btn btn-primary btn-lg"><a class="link_hidden" href="login">Connexion</a></button>
<button type="button" class="btn btn-secondary btn-lg"><a class="link_hidden" href="signup">S'inscrire</a></button>
</div>
{% endblock %}
