{% extends "base.html" %}
{% load static %}
{% block content %}

<p> Pour participer à la campagne et soutenir la candidature de Stéphane Wendligner, inscriveez vous. Les données recueillies ne seront utilisées par les personnes dûment autorisées que le temps
    de la campagne ; elles seront ensuite détruites. En aucun cas , elle ne seront vendues ou échangées. <a href=""> En savoir plus</a>
</p>
{% if user.is_authenticated %}
<!-- <li class="nav-item">
    <a class="nav-link yellow_title shadow_title montserrat" href="">BONJOUR, {{user}}</a>
</li> -->
{% else %}
<div class="button_display">
    <button type="button" class="btn btn-primary btn-lg"><a class="link_hidden" href="login">Connexion</a></button>
    <button type="button" class="btn btn-secondary btn-lg"><a class="link_hidden" href="signup">S'inscrire</a></button>
    </div>
{% endif %}
<div class="participer_flex">
    <div class="div_participer">
        <p class="home_article size_title participer_title">Adhérer au comité de soutien</p>
        <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur.</p>
        <div style="margin: auto;width: 50%;" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Je veux adhérer au comité de soutien
            </label>
          </div>
        <button style="margin-top: 10px;" type="submit" class="btn btn-outline-primary button_connaitre contact_send ">Envoyer</button>
    </div>
    <div class="div_participer">
        <p class="home_article size_title participer_title">Rejoindre l'équipe de campagne</p>
        <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur.</p>
        <div style="margin: auto;width: 50%;" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Je rejoindre l'équipe de campagne
            </label>
          </div>
        <button style="margin-top: 10px;" type="submit" class="btn btn-outline-primary button_connaitre contact_send ">Envoyer</button>
    </div>
    <div class="div_participer">
        <p class="home_article size_title participer_title">Faire un don</p>
        <p style="text-align: center;">Venez nous excuser pour ce retard. Actuellement, le seul moyen de soutenir Stephane Wendlinger 
            est en envoyant un chéque à l'adresse suivante : </p>
        <div style="margin: auto;width: 50%;" class="form-check">
            Association SW2022<br>
            1 montée du Château<br>
            07100 Annonay
          </div>
        <!-- <button style="margin-top: 10px;" type="submit" class="btn btn-outline-primary button_connaitre contact_send ">Envoyer</button> -->
    </div>
    <div class="div_participer">
        <p class="home_article size_title participer_title">Parrainer le candidat</p>
        <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur.</p>
        <div style="margin: auto;width: 50%;" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Je suis élu et je souhaite parrainer le candidat
            </label>
          </div>
        <button style="margin-top: 10px;" type="submit" class="btn btn-outline-primary button_connaitre contact_send ">Envoyer</button>
    </div>
</div>

{% endblock %}
