{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Custom styles-->
<title>Création de Compte</title>
<body id="page-top" class="signup"></body>
<style>
	footer{
		position: fixed;
	}
    body{
        background-color: #1757b5c4 !important;
    }
</style>
<!--Signup Form-->
<!-- <section class="page-section" id="signup">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Créer un compte</h3>
			</div>
			<div class="card-body">
				<form action="{% url 'signup' %}" method="POST">
					{% csrf_token %}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username" name="username" id="register_username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" name='password' id="register_password">
                    </div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-mail-bulk"></i></span>
						</div>
						<input type="email" class="form-control" placeholder="email" name="email" id="register_email">
					</div>
						<div class="form-group">
							<input type="submit" value="C'est parti" class="btn float-right login_btn">
						</div>
					
				</form>
			</div>
				<div class="d-flex justify-content-center links margin_bot">
					Vous possédez déjà un compte ?<a href="login">Par ici !</a>
				</div>
		</div>
	</div>
</div>
</section> -->
<div style="margin-top: 78px;" class="container mt-5 ">
    <div class="row d-flex justify-content-center ">
        <div class="col-md-6">
            <div style="margin-left: auto;
            margin-right: auto;" class="card p-4 py-5 div_participer div_signup">
				<form action="{% url 'signup' %}" method="POST">
				{% csrf_token %}
                <h2>Créer un compte</h2>
                <div class="signup mt-3">
					<input type="text" name="last_name" class="form-control form_signup" placeholder="Nom">
					<input type="text" name="first_name" class="form-control form_signup" placeholder="Prénom">
					<input type="email" name="username" class="form-control form_signup" placeholder="Adresse mail">
					<input type="email" name="email" class="form-control form_signup" placeholder="Vérification adresse mail">
                    <!-- <input type="text" name="name" class="form-control form_signup" placeholder="Nom">
					<input type="text" name="forname" class="form-control form_signup" placeholder="Prénom"> 
					<input type="text" name="age" class="form-control form_signup" placeholder=Âge> 
					<input type="text" name="profession" class="form-control form_signup" placeholder="Profession"> 
					<input type="text" name="adresse" class="form-control form_signup" placeholder="Adresse"> 
					<input type="text" name="code_postal" class="form-control form_signup" placeholder="Code Postal"> 
					<input type="text" name="commune" class="form-control form_signup" placeholder="Commune">
					<input type="text" name="pays" class="form-control form_signup" placeholder="Pays"> 
					<input type="text" name="telephone" class="form-control form_signup" placeholder="Telephone">
					<input type="checkbox" id="horns" name="elu"> -->
					<!-- <input type="text" name="fonction_elu" class="form-control form_signup" placeholder="Fonction en tant qu'élu"> -->
                    <input type="password" name="password" class="form-control form_signup" placeholder="Mot de passe"> </div>
                <div class="mt-4"> <button class="btn btn-outline-primary button_connaitre contact_send_page contact_send">S'inscrire</button> </div>
				</form>
            </div>
        </div>
    </div>
</div>
{% endblock %}